---
layout: workshop
root: .
venue: Open Science Grid Workshop @ Midwest Data Hub Summer School
address: Jefferson Laboratory, CEBAF Center Room F224-225
country: United States
humandate: May 22, 2019
humantime: 3:30 pm - 5:00 pm
startdate: MAR-21-2019
enddate: MAR-21-2019
latlng: 28.468,-81.469
# registration: https://service5.internet2.edu/reg/events/techex-18/registrations
instructor: ["Derek Weitzel"]
helper: ["David Swanson", "Carrie Brown"]
contact: dweitzel@unl.edu
---


<!--
    Edit the values in the parameter block above to be appropriate for your bootcamp.
-->

<p>This workshop is for anyone at the Jefferson Lab who wants to learn more 
about the Open Science Grid (OSG), how the OSG can accelerate their research, and how 
to use the OSG effectively.</p>

<h2>Registration</h2>
<!--
<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfS3SB2zPov5-FiiL4qfOdepJp5uP0TabjUdmxrEA98xvBI_A/viewform?embedded=true" width="640" height="710" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
-->
<h2>Preparation </h2>

<p>This workshop is hands-on!  While not strictly required, we 
strongly encourage participants to <b>bring a laptop</b> and make sure you have the following: 
<ul>
<li>A "CUE" account, which will give you access to the OSG submission point at the Jefferson Lab</li>
<li>An ssh/scp tool installed on your laptop.  Instructions to set up the required 
software on Linux, Windows and Mac laptops is on <a href="setup.html">this page</a></li>
</ul>
</p>

<p>If you have limited (or no) experience using the command line, we highly recommend 
reviewing the <a href="http://swcarpentry.github.io/shell-novice/">Software Carpentry 
shell lesson</a> before this training, particularly parts 1-3.  </p>

<h2>Schedule and Resources</h2>

<!-- <p>
<a href="https://docs.google.com/document/d/1prmBjVgvHLx0vVVDdICWrugjy4KMMCTkHNDIB-akigM/edit#">Shared Notes and Links</a>
</p>
-->

<!--
<ul>
<li>Introduction: What is the Open Science Grid and High Throughput Computing?</li>
<li>Hands-on: Submitting jobs to the Open Science Grid</li>
<li>Further Considerations: Getting the most out of the Open Science Grid</li>
</ul>
-->

<div class="row-fluid">
    <table class="table table-striped">
    <tr> <td>3:30 - 3:45 </td> <td> <a href="materials/AHM/01-IntroGrid.html">Introduction to the Open Science Grid </a> - <a href="https://github.com/unlhcc/OSG-UserTraining-MWBD-2019/raw/gh-pages/materials/AHM/slides/2019-03-21-OSG-Jlab-intro.pdf">OSG Slides</a></td> </tr>
      <tr> <td>3:45 - 4:30</td> <td><a href="materials/AHM/02-HTCondor-Submitting.html">Job Scheduling with HTCondor</a></td> </tr>
      <tr> <td>4:30 - 5:00 </td> <td><a href="materials/AHM/03-Scaling-Up.html">Organizing Large-scale Submissions</a> </td> </tr>
    </table>
  </div>
<hr/>


</hr>

<h2>General Information</h2>

<!-- This block displays the instructors' names if they are available. -->
{% if page.instructor %}
<p>
  <strong>Instructors:</strong>
  {{page.instructor | join: ', ' %}}
</p>
{% endif %}

{% if page.helper %}
<p>
  <strong>Helpers:</strong>
  {{page.helper | join: ', ' %}}
</p>
{% endif %}

<p>
  <strong>Where:</strong>
  {{ page.address }}.
</p>
<!--
    Modify the block below if there are any special requirements.
-->
<p>
  <strong>Requirements:</strong>
  Participants should bring a laptop with a few specific software packages installed
  (see <a href="setup.html">Setup</a>).
</p>
<!--
    This block automatically inserts a contact email address if one has been specified for the page.
    If one hasn't, this block inserts the generic contact address for Software Carpentry.
-->
<p>
  <strong>Contact</strong>:
  Please mail
  {% if page.contact %}
    <a href='mailto:{{page.contact}}'>{{page.contact}}</a>
  {% else %}
    <a href='mailto:{{site.contact}}'>{{site.contact}}</a>
  {% endif %}
  for more information.
</p>

<h2>About the Open Science Grid</h2>

<p>
The <a href="http://www.opensciencegrid.org">Open Science Grid</a>
provides a fabric of services to enable
distributed, high-throughput computing capabilities across the US. In
general, OSG is organized into VOs (Virtual Organizations) around large
experiments, but individual PIs and groups too small for the VO model
can use the hosted services provided by
<a href="http://osgconnect.net">OSG Connect</a>.
</p>

<!--
<h2>Feedback</h2>
<p>
  <a href="https://docs.google.com/forms/d/1kJJ0QGsY_Aqpn1rdN5Ng8KuBoL5lpmjFXQcFS3SMKwo/edit">Feedback for the workshop</a>. 
</p>
<hr/>
-->

