<h2>Contacts</h2>

<h4> Questions pertaining to this workshop </h4>
<p>
Questions related workshop:
<a href="mailto:lmichael@wisc.edu?Subject=SWC-OSG%20Workshop" target="_top"> Send Mail - Lauren Michael</a>
<a href="mailto:rynge@isi.edu?Subject=SWC-OSG%20Workshop" target="_top"> Send Mail - Mats Rynge</a>
</p>
<hr/>

<h4> Questions pertaining to the Open Science Grid or OSGConnect </h4>
<p>
Questions related workshop:
<a href="mailto:user-support@opensciencegrid.org?Subject=SWC-OSG%20Connect" target="_top"> Send Mail - OSG support team</a>
</p>
<hr/>

<h4> Questions related to Software Carepentry </h4>
<p>
<a href="mailto:admin@software-carpentry.org?Subject=SWC-OSG%20SWC" target="_top"> Send Mail - SWC support team</a>
</p>
<hr/>



