
<!--
<h2>Setup</h2>
-->
<p>
Please make sure that you have completed the following setup precedure before arriving at the training session.  Please arrive early if you have any problems and require help from an instructor.</p>

<div class="row-fluid">
  <div class="span12">
    <h3>Secure Shell & Secure Copy </h3>
    <p>
      <code>ssh</code> (secure shell) is an encrypted remote login tool. It lets you connect to remote resources, such as the OSG Connect login node and interact with the machine via UNIX shell.
      Similarly, <code>scp</code> (secure copy) is a tool that facilitates encrypted file transfer. We will use both to interact with OSG Connect.
    </p>
  </div>
</div>

<h4>Windows</h4>

<div class="row-fluid">
  <div class="span12">
    <p>
      For secure shell (ssh), download <a href="http://www.chiark.greenend.org.uk/~sgtatham/putty/download.html">PuTTY</a>.
    </p>
    <p>
      For secure copy (scp), download <a href="http://winscp.net/eng/download.php">WinSCP</a>
    </p>
  </div>
</div>

<h4>Mac OS X</h4>

<div class="row-fluid">
  <div class="span12">
    <p>
      The tools (ssh, scp, ...) are usually already installed and available on the 
      command line.
    </p>

  </div>
</div>

<h4>Linux</h4>
<div class="row-fluid">
  <div class="span12">
    <p>
      The tools (ssh, scp, ...) are usually already installed and available on the 
      command line.
    </p>

  </div>
</div>

<hr/>

